.wiki-main {
	display: flex;
	flex-direction: column;
	align-items: center;

	min-height: 100vh;
}

.wiki-main .header {
	display: flex;
	justify-content: space-between;

	min-width: calc(100% - 20px);
}

.wiki-main .header .left-section .back-button {
	display: flex;
	align-items: center;
}

.wiki-main .header .left-section,
.wiki-main .header .right-section {
	display: flex;
	flex: 0 1 33%;
}

.wiki-main .header .middle-section {
	display: flex;
	justify-content: center;
	flex: 1 0 auto;
}